body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#app {
  min-height: 56px;
}

.form-signin {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}
